<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Chào mừng bạn đến với webhook của Rabbit Coding</h1>
</body>

</html>